{% extends "catalog/base.html" %}

{% block content %}
<div class="list-block">
    <h1>
        Список книг:
    </h1>
    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li class="post-object list-block__item">
                    <div class="list-block__image">
                        {% include "catalog/common/objects_image.html" with object=book img_size=150 %}
                    </div>
                    <div class="list-block__info">
                        <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                        {% include "catalog/common/objects_about.html" with object=book object_name="о книге" %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Сейчас на сайте нет книг.</p>
    {% endif %}
</div>

{% endblock %}