{% extends "catalog/base_generic.html" %}
{% load static %}

{% block content %}

<div class="book">
    <h1>{{ book.title }}</h1>
    <div class="book__info object-item">
        <div class="book__left-column">
            <div class="book__img">
                {% include "catalog/common/objects_image.html" with object=book img_size=200 %}
            </div>
            <div class="rating">
                Рейтинш: {{ book.rating }} / 5
            </div>
        </div>
        <div class="book__about object-item__about">
            <p><strong>Автор:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
            <p><strong>Жанры:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p><strong>Описание: </strong></p>
            {% include "catalog/common/objects_about.html" with object=book object_name="о книге" %}
            <div>
                <input type="button" class="read_book_button" value="Читать">
                <input type="button" class="download_book_button" value="Скачать">
            </div>
        </div>
    </div>
</div>

{% endblock %}