{% extends "catalog/base.html" %}
{% load static %}
{% load catalog_tags %}

{% block content %}

<div class="post-object big-object book">
    <h1>
        {{ book.title }}
        {% if request.user|has_group:"staff" %}
        <a href="{% url 'edit_book' slug=book.slug %}" class="edit-object">[Редактировать]</a>
        <a href="{% url 'delete_book' slug=book.slug %}" class="edit-object">[Удалить]</a>
        {% endif %}
    </h1>
    <div class="big-object__info">
        <div>
            <div class="big-object__image">
                {% include "catalog/common/objects_image.html" with object=book img_size=200 %}
            </div>
            <div class="book__rating">
                <p>Рейтинг: {{ book.rating }} / 5</p>
            </div>
        </div>
        <div class="book__about object-item__about">
            <p><strong>Автор:</strong> <a href="{{ book.author.get_absolute_url }}" class="simple-link">{{ book.author }}</a></p>
            <p><strong>Жанры:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p><strong>Описание: </strong></p>
            {% include "catalog/common/objects_about.html" with object=book object_name="о книге" %}
            <div class="book__buttons">
                {% if book.link_to_file %}
                    <a href="{{ object.link_to_file.url }}"><button type="submit" class="button">Читать</button></a>
                    <button type="submit" class="button">Скачать</button>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'book_detail' slug=book.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="button">Добавить книгу</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}