{% extends "catalog/base.html" %}

{% block content %}
<div class="post-object change-password">
    <h2>Изменить пароль</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            <p><label for="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="button">Изменить</button>
    </form>
</div>
{% endblock %}