<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>ReadMe</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'Catalog/css/styles.css' %}" />
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="container">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'Catalog/img/logo.png' %}" alt="" width="75px">
                </a>
                <nav id="navigation">
                    <ul class="menu">
                        <li><a href="{% url 'books' %}">Все книги</a></li>
                        <li><a href="{% url 'authors' %}">Все авторы</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      </div>
</body>
</html>