{% extends "catalog/base_generic.html" %}
{% load static %}

{% block content %}

<div class="objects_block authors_block">
    <div class="objects_header">
        <h1>{{ author.first_name }} {{ author.last_name }}</h1>
        <p>{{ author.date_of_birth|date:"d.m.Y" }} - {{ author.date_of_death|date:"d.m.Y"|default:"..." }}</p>
    </div>
    <div class="objects_info">
        <div class="objects_img">
            {% if author.image %}
                <img src="{{MEDIA_URL}}{{ author.image }}" alt="" width="200px">
            {% else %}
                <img src="{% static 'Catalog/img/no_image_for_object.png' %}" alt="" width="200px">
            {% endif %}
        </div>
        <div class="objects_about">
            <h3>Об авторе:</h3>
            {% if author.about %}
                <p>{{ author.about }}</p>
            {% else %}
                <p>К сожалению, сейчас информация об авторе отсутствует.</p>
            {% endif %}
        </div>
    </div>
    <div class="authors_books">
        <h3>Доступные книги:</h3>
        {% if author.book_set.all %}
            {% for book in author.book_set.all %}
                {% include "catalog/authors/authors_book_info.html" with book=book %}
            {% endfor %}
        {% else %}
            <p>Доступных книг нет.</p>
        {% endif %}
    </div>
</div>

{% endblock %}