{% extends "catalog/base_generic.html" %}
{% load static %}

{% block content %}

<div class="author">
    <div class="author__header">
        <h1>{{ author.first_name }} {{ author.last_name }}</h1>
        <p>{{ author.date_of_birth|date:"d.m.Y" }} - {{ author.date_of_death|date:"d.m.Y"|default:"..." }}</p>
    </div>
    <div class="author__info object-item">
        <div class="author__img">
            {% include "catalog/common/objects_image.html" with object=author img_size=200 %}
        </div>
        <div class="author__about object-item__about">
            <h3>Об авторе:</h3>
            {% include "catalog/common/objects_about.html" with object=author object_name="об авторе" %}
        </div>
    </div>
    <div class="authors-books">
        <h3>Доступные книги:</h3>
        {% if author.book_set.all %}
            {% for book in author.book_set.all %}
                {% include "catalog/authors/authors_book_info.html" with book=book %}
            {% endfor %}
        {% else %}
            <p>Доступных книг нет.</p>
        {% endif %}
    </div>
</div>

{% endblock %}