{% extends "catalog/base.html" %}
{% load static %}
{% load catalog_tags %}

{% block content %}

<div class="post-object big-object author">
    <div>
        <h1>
            {{ author.first_name }} {{ author.last_name }}
            {% if request.user|has_group:"staff" %}
            <a href="{% url 'edit_author' slug=author.slug %}" class="edit-object">[Редактировать]</a>
            <a href="{% url 'delete_author' slug=author.slug %}" class="edit-object">[Удалить]</a>
            {% endif %}
        </h1>
        <p>{{ author.date_of_birth|date:"d.m.Y" }} - {{ author.date_of_death|date:"d.m.Y"|default:"..." }}</p>
    </div>
    <div class="big-object__info author__info">
        <div class="big-object__image author__image">
            {% include "catalog/common/objects_image.html" with object=author img_size=200 %}
        </div>
        <div class="author__about">
            <h3>Об авторе:</h3>
            {% include "catalog/common/objects_about.html" with object=author object_name="об авторе" %}
        </div>
    </div>
</div>

<div class="list-block">
    <h2>Доступные книги:</h2>
    {% if page_obj %}
        {% for book in page_obj %}
            {% include "catalog/authors/authors_book_info.html" with book=book %}
        {% endfor %}
    {% else %}
        <p>Доступных книг нет.</p>
    {% endif %}
</div>

{% endblock %}