{% extends "catalog/base.html" %}
{% load static %}

{% block content %}
<div class="list-block">
    <h1>Авторы:</h1>
    {% if author_list %}
        <ul>
            {% for author in author_list %}
            <li class="post-object list-block__item">
                <div class="list-block__image">
                    {% include "catalog/common/objects_image.html" with object=author img_size=150 %}
                </div>
                <div class="list-block__info">
                    <h3><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a></h3>
                    {% include "catalog/common/objects_about.html" with object=author object_name="об авторе" %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Сейчас на сайте нет авторов.</p>
    {% endif %}
</div>
{% endblock %}