* {
	outline: 0;
	padding: 0;
	margin: 0;
    list-style-type: none;
    text-align: justify;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

p {
    font-weight: 200;
}

.container-fluid {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    width: 100%;
    background: #D8E3AB;
    padding: 10px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav li {
    display: inline;
    align-items: center;
    vertical-align: middle;
}

.objects_header {
    padding: 5px 0;
}

.objects_header h1 {
    margin-bottom: 5px;
}

.objects_info {
    display: flex;
    padding: 5px 0;
}

.objects_about {
    padding: 0 0 0 20px;
}

.objects_about p {
    padding: 10px 0 0 0;
}

.authors_book {
    display: flex;
    padding: 10px 0;
}

.authors_book_about {
    padding: 0 10px;
}

.authors_book_about h4 {
    margin-bottom: 7px;
}